/*Font*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
/* See https://codepen.io/nxworld/pen/OyRrGy for more */
@font-face {
  font-family: 'Colaborate';
  src: url('../otfs/Colab/ColabLig.otf');
}

/* Entire Page*/
body {
  color: white;
  height: 100%;
  background-color: #A9A9A9 !important;
  position: relative; /* important for scrollspy */
}
html {
  height: 100%;
}

/* NavBar */
.navbar {
  padding-left: 10%;
  padding-right: 10%;
}
.nav {
  text-align: center;
  transition: all .5s ease;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  z-index: 100;
  position: absolute;
  /* bottom: 0; */
  left: 0;
  letter-spacing: 2px;
  line-height: 100px;
  -webkit-transition-property: background-color, box-shadow, line-height, height;
  transition-property: background-color, box-shadow, line-height, height;
  -webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.nav ul {
  margin: 0;
}
.nav ul li {
  text-align: center;
  display: inline-block;
  list-style: none;
  padding: 15px 15px;
  cursor: pointer;
  line-height: 30px;
}

.sticky {
  position: fixed !important;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 4px 5px -2px rgba(0,0,0,0.22), 0 2px 1px -1px rgba(0,0,0,0.05); */
  background-color: #fff;
  line-height: 30px;
}
.sticky ul li a {
  color: #6E7982;
}
.sticky ul li:hover a {
  color: #E33B00;
}

.pattern-overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.menu {
  display: none;
}
@media (max-width: 1000px) {
  .navbar {
    padding-left: 5%;
    padding-right: 0%;
  }
}
/**/
@media (max-width: 800px) {
  .firstNavLink {
    padding-top: 15% !important;
  }
  #section1>h1 {
    font-size: 280%;
  }
  .sticky .menu {
    top: 0;
  }
  .sticky .menu .hamburger {
    background: #6E7982;
  }
  .sticky .menu .hamburger::before, .sticky .menu .hamburger::after {
    background: #6E7982;
  }

  .open.sticky .hamburger {
    background: transparent;
  }

  .open .hamburger {
    background-color: transparent;
  }
  .open .hamburger::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .open .hamburger::after {
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
  }

  .menu {
    display: block;
    outline: none;
    position: relative;
    line-height: 60px;
    float: left;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
  }
  .menu:hover {
    opacity: 1;
  }

  .hamburger, .hamburger::after, .hamburger::before {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 3px;
    line-height: 0;
    -webkit-transition: all 150ms;
    transition: all 150ms;
  }

  .hamburger::before {
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
  }

  .hamburger::after {
    content: '';
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
    background: #fff;
  }

  .hamburger {
    background: #fff;
  }
  .hamburger::after {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  .hamburger::before {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  .navbar {
    -webkit-transition: -webkit-transform 150ms;
    transition: transform 150ms;
    background-color: white !important;
  }
  ul.navbar {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /*transform: translateY(-200%);*/
    padding-left: 0;
  }
  ul.navbar li {
    line-height: calc((100vh - 60px) / 6);
    display: block;
    padding: 0;
  }

  .open .navbar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav {
    height: 100px;
  }
  .nav.open {
    height: auto;
    min-height: 100%;
  }
  .nav.sticky {
    height: 60px;
  }
  .nav .open.sticky {
    height: auto;
  }
}


/*Links*/
.navbar>li>a::before {
  color: #282828 !important;
}
a {
	display: inline-block;
	position: relative;
	color: #d3d3d3 !important;
  font-weight: bold;
}
a:hover {
  text-decoration: none !important;
}
a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #d3d3d3;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/*Top Section that points downwards*/
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0, 0, 0, 0.34) 80%,rgba(0, 0, 0, 0.51) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#section1 {
  background: url(../img/pc10.jpg) center center / cover no-repeat;
  /* Pictures by https://pixabay.com/ - no copyright images */
}
#section1 a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
#section1 a:hover {
  opacity: .5;
}
#section1 a {
  padding-top: 60px;
}
#section1 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

/*For each section*/
.title {
	padding-left: 10%;
	padding-bottom: 2%;
	font-family: 'Josefin Sans';
  padding-top: 10%;
}
/*List Edu and List Previous Experience*/
.list {
	padding-left: 10%;
	font-size: 110%;
}

/*About Me*/

.responsive {
	float: left;
    position: relative;
    /*transform: translateY(40%);*/
    margin-right: 20%;
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#moi {
	width:20%;
	height: 20%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
}
#about {
	padding-left: 10%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 8%;
	font-family: 'Colaborate';
}

/*Previous Experience*/
#listPrEx>ul {
	list-style-type: square;
}
#listPrEx>ul>li {
	font-size: 130%;
}
#listPrEx {
	padding-left: 10%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: 'Colaborate';
}

/*Education*/
#listEdu {
	padding-left: 10%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: 'Colaborate';
	font-size: 120%;
}
#listEdu>ul {
	padding-left: 10%;
	list-style-type: square;
}
#listEdu>ul>li {
	padding-right: 10%;
	font-size: 130%;
}
/*Languages Accordion*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 130%;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc; 
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
table {
	border-collapse: collapse;
    width: 90%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
	font-size: .85em;
	letter-spacing: .1em;
	background: #d3d3d3;
}
tr:nth-child(even) {
    background-color: #f0f0f0;
}

#education {
	padding-top: 0%;
}
#bigTable {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 10%;
	font-family: 'Colaborate';
	table-layout: fixed;
	border-collapse: collapse;
}
#bigTable>div.panel {
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 3%;
}
thead {
	font-size: 140%;
	  border-bottom: none;
}
#bigTable>div>table>tbody>tr>td {
	font-size: 130%;
}
#bigTable>div>ul {
	list-style-type: square;
	padding-left: 10%;
	padding-top: 2%;
	padding-bottom: 1%;
}
#bigTable>div>ul>li {
	font-size: 130%;
}
/*Skills*/

/*Projects*/

#projects>h3 {
	font-family: 'Josefin Sans';	
}
#projects>ul {
	padding-left: 10%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
	font-family: 'Colaborate';
	font-size: 120%;
}
.projectGenres {
	padding-left: 10%;
	padding-top: 2%;
}
#projects>ul>li {
	font-size: 120%;
}
.translations-ul {
  list-style: square;
  padding-left: 5%;
}

/*Contact Me*/
#links {
	padding-top: 5%;
  padding-bottom: 2%;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#links>div {
	flex: 1;
}

/*Footer*/
#footer>h5 {
	font-family: 'Josefin Sans';
	font-weight: bold;
	color: gray;
}
#footer>h6 {
	font-family: 'Josefin Sans';
	font-weight: bold;
	color: gray;
}
#footer {
	padding-top: 5%;
  color: #000000
}
.sourcererS {
  font-size: x-large;
}
* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
  display: none;
}
*:hover > .fa.fa-hover-show {
  display: inline-block;
}

/*delete this after adding colours to each section?*/
.line-gray span {
    background: #d3d3d3;
    display:  inline-block;
    padding: 0.1em 2em;
    margin-bottom: 5%;
}